* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: -webkit-linear-gradient(90deg, #000000, #0d1521, #070e18);
    background: linear-gradient(90deg, #000000, #0d1521, #070e18);
    height: 100%;
    width: 100vw;
    color: #FA4616;
}

.fundo {
    position: fixed;
    top: 0;
    height: 100vh;
    background-image: url('https://i.imgur.com/1Z5b7kH.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

header {
    display: flex;
    color: #ff7500;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin: 30px auto;
    padding: 10px;
}

.menu-btt {
    display: grid;
    position: fixed;
    gap: 5px;
    top: 25%;
    right: -295px;
    background: #3838389f;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

#open_op {
    position: relative;
    left: -60px;
    padding: 10px 10px;
    font-size: 15px;
    text-align: start;
    align-items: center;
}



button {
    padding: 10px 20px;
    width: 260px;
    background-color: #ff7500;
    color: #003c70;
    border: none;
    box-shadow: 0 0 10px rgba(255, 117, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #003c70;
    color: #ff7500;
    box-shadow: 0 0 15px rgba(255, 117, 0, 0.5);
    transform: scale(1.05);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
    margin: 0 25%;
}

li {
    background-color: #212121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #E8A236 2px solid;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
    text-align: center;
}

li:hover {
    transform: scale(1.05);
}

li:active {
    opacity: 0.5;
}

li #porduct {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #E8A236;
    text-shadow: 2px 2px 4px #00000034;
}

li #price {
    text-align: center;
    font-size: 16px;
    color: #6fcb2d;
    margin-top: 2px;
    text-shadow: 2px 2px 4px #00000038;
}



li img {
    width: 100%;
    border-radius: 5px;
}

section {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000ad;
}

.products {
    background: #383838;
    padding: 10px;
    margin: auto;
    display: flex;
    position: relative;
    top: 25%;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    border: #E8A236 2px solid;
}

.products img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
    border: #e8a13691 2px solid;
    border-radius: 5px;
}

.description {
    margin-left: 20px;
    margin-top: 25px;
}

.infor h2,
.description h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #E8A236;
}

.description p {
    text-align: center;
    margin: 15px 0;
    color: whitesmoke;
}

.description #price {
    margin: 50px 60px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(0, 18, 21, 1);
    text-align: center;
    font-weight: bold;
    background-color: #0e7330;
    color: #dff754;
    padding: 10px 10px;
}

.receipt {
    width: 250px;
    background: white;
    border: 2px dashed #777676;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000;
    margin: 0 95%;

}

.shop-name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.info {
    text-align: center;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.receipt table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    font-size: 0.85rem;
}

.receipt table th,
.receipt table td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.barcode {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.thanks {
    font-size: 0.85rem;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 1114px) {
    ul {
        margin: 0px 23%;
    }

    .receipt {
        margin: 0 87%;
    }

    section {
        height: 115%;
    }

    .products {
        width: 55%;
    }
}

@media screen and (max-width: 884px) {
    ul {
        margin: 0px 16%;
    }

    section {
        height: 100%;
    }

    .products {
        width: 68%;
    }
}

@media screen and (max-width: 800px) {
    ul {
        margin: 0px 12%;
    }

    .products img {
        width: 236px;
    }
}

@media screen and (max-width: 834px) {
    .products img {
        width: 236px;
    }

    .products {
        width: 65%;
    }
}

@media screen and (max-width: 820px) {
    ul {
        margin: 0px 13%;
    }

    .description button {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    ul {
        margin: 0px 11%;
    }

    .description button {
        width: 210px;
    }
}

@media screen and (max-width: 428px) {
    ul {
        margin: 0px 6%;
        grid-template-columns: 180px 180px;
    }

    .fundo {
        right: -75%;
    }

    .products {
        display: grid;
        justify-content: center;
    }

    .infor h2 {
        font-size: 30px;
        border-bottom: #1c1c1c 2px solid;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .description {
        margin-left: 0px;
        margin-top: 0px;
        display: grid;
        justify-content: center;
    }

    .description #price {
        margin: 20px 60px;
    }

    section {
        height: 125%;
    }

    .receipt {
        margin: 0px 35%;
    }

}

@media screen and (max-width: 395px) {
    ul {
        margin: 0px 10px;
    }

    section {
        height: 120%;
    }
}

@media screen and (max-width: 375px) {
    ul {
        margin: 10px 20px;
        grid-template-columns: 160px 160px;
    }

    .products img {
        width: 215px;
    }

    section {
        height: 125%;
    }

    .receipt {
        margin: 0px 30%;
    }
}

@media screen and (max-width: 360px) {
    .receipt {
        margin: 0px 20%;
    }

    ul {
        margin: 10px 15px;
    }
}

@media screen and (max-width: 320px) {
    ul {
        margin: 10px 3px;
        grid-template-columns: 150px 150px;
    }

    .products img {
        width: 190px;
        margin-left: 9px;
    }

    .infor h2 {
        font-size: 25px;
        width: 189px;
        margin-left: 10px;
    }

    .description button {
        width: 198px;
    }

    .description #price {
        margin: 20px 50px;
    }

    section {
        height: 170%;
    }
}